.navMenu {
    display: flex;
    align-items: center;
}

.navItem {
    height: 1rem;
    font-family: SFUIText;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
    padding-left: 3rem;
}